## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
x = 3
x

3

2) Imprimir el tipo de dato de la constante 8.5

In [4]:
y=8.5
type(y)

float

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [5]:
type(x)

int

4) Crear una variable que contenga tu nombre

In [6]:
name = "Ivan Rodriguez"

5) Crear una variable que contenga un número complejo

In [7]:
complex = 2 + 3j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [8]:
type(complex)

complex

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [9]:
import math

pi_redondeado = round(math.pi, 4)

print(pi_redondeado)

3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [10]:
VarA = "True"
VarB = True
if VarA == VarB:
    print("Las variables son iguales")
else:
    print("Las variables no son iguales")

Las variables no son iguales

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [11]:
print(type(VarA))
print(type(VarB))

<class 'str'>
<class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [15]:
VarC = 2
VarC += 3
print(VarC)

VarD = 3
VarD += 1.3
print(VarD)

5
4.3

11) Realizar una operación de suma de números complejos

In [16]:
complex1 = 3 + 2j  
resultado = complex + complex1
print(resultado)

(5+5j)

12) Realizar una operación de suma de un número real y otro complejo

In [17]:
print(2+complex)

(4+3j)

13) Realizar una operación de multiplicación

In [18]:
2*2

4

14) Mostrar el resultado de elevar 2 a la octava potencia

In [19]:
2**8

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [20]:
cociente = 27/4
cociente

6.75

16) De la división anterior solamente mostrar la parte entera

In [21]:
int(cociente)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [22]:
27%4

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [23]:
4*6+3

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [24]:
print("Ivan" + " Rodriguez")

Ivan Rodriguez

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [26]:
VarA = "2"
VarB = 2
if VarA == VarB:
    print("Las variables son iguales")
else:
    print("Las variables no son iguales, porque son variables de diferente tipo, una es string, y la otra un entero")

Las variables no son iguales, porque son variables de diferente tipo, una es string, y la otra un entero

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [29]:
VarA = int(VarA)
if VarA == VarB:
    print("Las variables son iguales")
else:
    print("Las variables no son iguales, porque son variables de diferente tipo, una es string, y la otra un entero")

Las variables son iguales

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [30]:
print("El error es la coma, tiene que ser un punto")

El error es la coma, tiene que ser un punto

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [31]:
VarE = 3
VarE -= 1
VarE

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [32]:
1<<2

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [33]:
print("La operación << indica un desplazamiento a la izquierda de los bits, en este caso son dos lugars, cambiando de 0001 a 0100 que significa 4")

La operación << indica un desplazamiento a la izquierda de los bits, en este caso son dos lugars, cambiando de 0001 a 0100 que significa 4

26) Realizar una operación válida entre valores de tipo entero y string

In [35]:
edad = 28
print("Mi edad es " + str(edad) + " años")

Mi edad es 28 años